body
{
	margin: 0;
	padding: 0;
	line-height: 2em;
	position: relative;
	height: 100%;
	cursor: default;
	overscroll-behavior: none;
	background-color: #eee;
	overflow: hidden;
}

html
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
}

br
{
	line-height: 150%;
}

*
{
	box-sizing: border-box;
}

#wrapper
{
	height: 100%;
	padding: 0;
	max-width: 1000px;
	margin: -10px auto;
	background: #ada;
	color: #002;
	font-family: comic sans MS;
}
#wrapper.design2
{
	background: #aad;
}

.gScreen
{
	width: 90%;
	margin: 10px auto;
	padding: 10px 0;
	position: relative;
}

.startHeader
{
	width: 100%;
	margin: 10px 0;
	font-size: 30px;
	text-align: center;
	background-color: #dfd;
	border: 5px solid #3f3;
	border-radius: 0 10px 0 10px;
}

.gButton, .gLabel, .gUserSelection, .gLevelSelection
{
	width: 100%;
	margin: 10px 0;
	min-height: 20px;
	font-size: 20px;
	text-align: center;
	background-color: #dfd;
	border: 5px solid #3f3;
	border-radius: 0 10px 0 10px;
}

.design2 .gButton, .design2 .gLabel, .design2 .gUserSelection, .design2 .gLevelSelection, .design2 .startHeader
{
	background-color: #ddf;
	border: 5px solid #33f;
}

.gButton.IDundoMove, .gButton.IDrestartLevel, .gLabel.IDlevel, .gButton.IDundoMove2, .gButton.IDrestartLevel2, .gLabel.IDlevel2
{
	width: 32%;
	margin: 10px 1%;
	float: left;
}

.gButton.IDundoMove, .gButton.IDundoMove2
{
	margin: 10px 0 10px 1%;
}

.gLabel.IDlevel, .gLabel.IDlevel2
{
	margin: 10px 1% 10px 0;
}

.gLevelSelection.IDlevelSelect ul, .gLevelSelection.IDlevelSelect2 ul
{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	height: 300px;
	overflow: auto;
}

.gLevelSelection.IDlevelSelect ul li:nth-child( odd )
{
	background-color: #cfc;
}

.design2 .gLevelSelection.IDlevelSelect2 ul li:nth-child( odd )
{
	background-color: #ccf;
}

.gGrid, .gGrid.IDfield2
{
	width: 100%;
	min-height: 20px;
	margin: 10px 0;
	background-color: #ddd;
	border: 5px solid #aaa;
}

.gGrid .cellStyleDiv, .gGrid.IDfield2 .cellStyleDiv
{
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	background-color: #eee;
}

.gGrid .cellStyleDiv.wall::after
{
	content: "";
	background-image: url( "cell_pictures/wall.jpg" ) ;
	background-size: 100% 100%;
	float: left;
    width: 100%; 
    height: 100%;
}

.gGrid .cellStyleDiv.pushy.facingLeft::after
{
	transform: rotate( 270deg );
}

.gGrid .cellStyleDiv.pushy.facingRight::after
{
	transform: rotate( 90deg )
}

.gGrid .cellStyleDiv.pushy.facingUp::after
{
	transform: rotate( 0deg );
}

.gGrid .cellStyleDiv.pushy.facingDown::after
{
	transform: rotate( 180deg );
}

.gGrid .cellStyleDiv.pushy::after
{
	content: "";
	background-image: url( "cell_pictures/pushyFacingUp.png" );
	background-size: 100% 100%;
	float: left;
    width: 100%; 
    height: 100%;
}

.gGrid .cellStyleDiv.pushy2.facingLeft::after
{
	transform: rotate( 270deg );
}

.gGrid .cellStyleDiv.pushy2.facingRight::after
{
	transform: rotate( 90deg )
}

.gGrid .cellStyleDiv.pushy2.facingUp::after
{
	transform: rotate( 0deg );
}

.gGrid .cellStyleDiv.pushy2.facingDown::after
{
	transform: rotate( 180deg );
}

.gGrid .cellStyleDiv.pushy2::after
{
	content: "";
	background-image: url( "cell_pictures/pushyFacingUp.png" );
	filter: invert( 100% );
	background-size: 100% 100%;
	float: left;
    width: 100%; 
    height: 100%;
}

.gGrid .cellStyleDiv.box::after
{
	content: "";
	background-image: url( "cell_pictures/box.jpg" ) ;
	background-size: 100% 100%;
	float: left;
    width: 100%; 
    height: 100%;
}

.gGrid .cellStyleDiv.slime::after
{
	content: "";
	background-image: url( "cell_pictures/slime.jpg" ) ;
	background-size: 100% 100%;
	float: left;
    width: 100%; 
    height: 100%;
}

.gGrid .cellStyleDiv.red.ball::after
{
	content: "";
	background-image: url( "cell_pictures/redBall.png" ) ;
	background-size: 100% 100%;
	float: left;
    width: 100%; 
    height: 100%;
}

.gGrid .cellStyleDiv.blue.ball::after
{
	content: "";
	background-image: url( "cell_pictures/blueBall.png" ) ;
	background-size: 100% 100%;
	float: left;
    width: 100%; 
    height: 100%;
}

.gGrid .cellStyleDiv.green.ball::after
{
	content: "";
	background-image: url( "cell_pictures/greenBall.png" ) ;
	background-size: 100% 100%;
	float: left;
    width: 100%; 
    height: 100%;
}

.gGrid .cellStyleDiv.red.hole
{
	background-image: url( "cell_pictures/redHole.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.blue.hole
{
	background-image: url( "cell_pictures/blueHole.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.green.hole
{
	background-image: url( "cell_pictures/greenHole.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.red.colorBlur
{
	background-image: url( "cell_pictures/redColorField.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.blue.colorBlur
{
	background-image: url( "cell_pictures/blueColorField.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.green.colorBlur
{
	background-image: url( "cell_pictures/greenColorField.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.forbiddenTrigger
{
	background-image: url( "cell_pictures/forbiddenTrigger.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.forbidden
{
	background-image: url( "cell_pictures/forbidden.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.house
{
	background-image: url( "cell_pictures/house.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.house2
{
	background-image: url( "cell_pictures/house.png" ) ;
	filter: invert( 100% );
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.house.blocked
{
	filter: grayscale(50%);
}

.gGrid .cellStyleDiv.house2.blocked
{
	filter: grayscale(50%);
}

.gGrid .cellStyleDiv.apple
{
	background-image: url( "cell_pictures/apple.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.portal
{
	background-image: url( "cell_pictures/portal.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.lever
{
	background-image: url( "cell_pictures/lever.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.leverWall
{
	background-image: url( "cell_pictures/leverWall.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.leverWall.open
{
	background-image: url( "cell_pictures/leverWallOpen.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.water
{
	background-image: url( "cell_pictures/water.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.water.open
{
	background-image: url( "cell_pictures/waterOpen.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.boxField
{
	background-image: url( "cell_pictures/boxField.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}

.gGrid .cellStyleDiv.oneWay.left
{
	transform: rotate( 270deg );
}

.gGrid .cellStyleDiv.oneWay.right
{	
	transform: rotate( 90deg );
}

.gGrid .cellStyleDiv.oneWay.up
{	
	transform: rotate( 0deg );
}

.gGrid .cellStyleDiv.oneWay.down
{	
	transform: rotate( 180deg );
}
.gGrid .cellStyleDiv.oneWay
{	
	background-image: url( "cell_pictures/oneWayFacingUp.png" ) ;
	background-size: 100% 100%;
	display: inline-block;
    width: 90%; 
    height: 90%;
}
.gGrid .cellStyleDiv.pushy.oneWay
{
	transform: rotate( 0deg );
}